<%- include("includes/head.ejs", { title: "Christian Francis" }) %>
    <script src="/main.js" defer></script>

  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <main>
      <%- include("includes/about-section.ejs") %>
      <%- include("includes/projects-section.ejs") %>
      <%- include("includes/contact-section.ejs") %>
    </main>
  </body>
</html>
